/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{

    -fx-background-color: rgba(0, 0, 0, 0);
   /* -fx-padding: 5px 5px 5px 5px;   top right bottom left */
}

.inactive{

    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.inactiveb{

    -fx-background-color: rgba(0, 0, 0, 0.5);

    -fx-background-radius: 3;
     -fx-background-insets: 0,1,1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 7, 0 , -1, 1 );  
    -fx-font-family: "Tahoma";
    -fx-text-fill: rgba(0, 124, 155, 1);
    -fx-font-size: 16px;
     -fx-font-weight: Bold;
     -fx-text-alignment: center;
}


.default-button {

-fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
       radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 3;
     -fx-background-insets: 0,1,1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 7, 0 , -1, 1 );  
    -fx-font-family: "Tahoma";
    -fx-text-fill: rgba(0, 124, 155, 1);
    -fx-font-size: 16px;
     -fx-font-weight: Bold;
     -fx-text-alignment: center;

}

.on-button {

-fx-background-color: 
        #c3c4c4,
        linear-gradient(rgba(30, 255, 165, 1) 75%, #00ffff 100%);
    -fx-background-radius: 3;
     -fx-background-insets: 0,1,1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 7, 0 , -1 , 1 );  
    -fx-font-family: "Tahoma";
    -fx-text-fill: rgba(0, 0, 0, 1);
    -fx-font-size: 16px;
     -fx-font-weight: Bold;
      -fx-text-alignment: center;

}

.warn-button {

-fx-background-color: 
        #c3c4c4,
        linear-gradient(rgba(244, 66, 66, 1) 75%, #00ffff 100%);
    -fx-background-radius: 3;
     -fx-background-insets: 0,1,1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 7, 0 , -1 , 1 );  
    -fx-font-family: "Tahoma";
    -fx-text-fill: rgba(0, 0, 0, 1);
    -fx-font-size: 16px;
     -fx-font-weight: Bold;
      -fx-text-alignment: center;

}


.default-button:hover{
	
-fx-background-color: 

       linear-gradient(#d6d6d6 50%, rgba(151, 237, 251, 0.8) 100%),
         radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
         
         -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 7, 0 , 1, 1 );  
	
}

.status{
	
	
	 -fx-font-family: "Tahoma";
    -fx-text-fill: rgba(0, 0, 0, 1);
    -fx-font-size: 20px;
     -fx-font-weight: Bold;
      -fx-text-alignment: center;
       -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 10, 0 , -3 , 3 ); 
	
}

.status2 {
	
	
	 -fx-font-family: "Tahoma";
    -fx-text-fill: rgba(0, 119, 63, 1);
    -fx-font-size: 14px;
     -fx-font-weight: Bold;
      -fx-text-alignment: center;
    	-fx-effect: dropshadow( three-pass-box , rgba(0, 0, 0, 0.5) , 15, 0 , -2 , 2 ); 
	
}


.topPane {
 
	-fx-background-color: #000000;
	-fx-background-color: linear-gradient(from 0% 95% to 0% 100%, black, rgba(0, 70, 249, 0.1));

}

.botPane {

	-fx-background-color: #000000;
	-fx-background-color: linear-gradient(from 0% 0% to 0% 5%,rgba(0, 70, 249, 0.1), black);

}

.box-vb {

	-fx-background-color: rgba(0, 70, 249, 0.2);
	 -fx-padding: 5px 2px 5px 2px;  /* top right bottom left */

}



